---
http_interactions:
- request:
    method: get
    uri: https://api.breathehr.com/v1/absences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<BREATHE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Link:
      - <https://api.breathehr.com/v1/absences?page=22>; rel="last", <https://api.breathehr.com/v1/absences?page=2>;
        rel="next"
      Total:
      - '2137'
      Per-Page:
      - '100'
      Etag:
      - W/"bc8e7b4094fb8978caf90f4f0b03fdd3"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "absences":[
            {
              "employee":{
                "id":72088,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":72088,
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "leave_reason":null,
              "deducted":"3.5",
              "work_units":"3.5",
              "id":467456,
              "start_date":"2014-11-04",
              "half_start":false,
              "half_start_am_pm":null,
              "end_date":"2014-11-07",
              "half_end":true,
              "half_end_am_pm":"am",
              "cancelled":true,
              "notes":"",
              "type":"Holiday",
              "created_at":"2015-05-20T15:41:07+01:00",
              "updated_at":"2015-06-12T12:27:43+01:00"
            },
            {
              "employee":{
                "id":72088,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":72088,
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "leave_reason":null,
              "deducted":"2.0",
              "work_units"[...]
- request:
    method: get
    uri: https://api.breathehr.com/v1/absences?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<BREATHE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Link:
      - <https://api.breathehr.com/v1/absences?page=1>; rel="first", <https://api.breathehr.com/v1/absences[...]
[...]
- request:
    method: get
    uri: https://api.breathehr.com/v1/absences?page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<BREATHE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Link:
      - <https://api.breathehr.com/v1/absences?page=1>; rel="first", <https://api.breathehr.com/v1/absences?page=4>;
        rel="prev", <https://api.breathehr.com/v1/absences?page=22>; rel="last", <https://api.breathehr.com/v1/absences?page=6>;
        rel="next"
      Total:
      - '2137'
      Per-Page:
      - '100'
      Etag:
      - W/"11bec16bb7a1619c4e129ddfd06923bb"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "absences":[
            {
              "employee":{
                "id":72400,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":72088,
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "leave_reason":{
                "name":"Parental",
                "id":73966
              },
              "deducted":"0.0",
              "work_units":"3.0",
              "id":1510876,
              "start_date":"2017-02-08",
              "half_start":false,
              "half_start_am_pm":null,
              "end_date":"2017-02-10",
              "half_end":false,
              "half_end_am_pm":null,
              "cancelled":false,
              "first_name":"FILTERED",
              "type":"OtherLeave",
              "create[...]
[...]
