---
http_interactions:
- request:
    method: get
    uri: https://api.breathehr.com/v1/absences?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<BREATHE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Link:
      - <https://api.breathehr.com/v1/absences?page=1>; rel="first", <https://api.breathehr.com/v1/absences?page=1>;
        rel="prev", <https://api.breathehr.com/v1/absences?page=22>; rel="last", <https://api.breathehr.com/v1/absences?page=3>;
        rel="next"
      Total:
      - '2137'
      Per-Page:
      - '100'
      Etag:
      - W/"5de4adbb14525e1a25eb78361052cf65"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "absences":[
            {
              "employee":{
                "id":72375,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":72088,
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "leave_reason":null,
              "deducted":"1.0",
              "work_units":"1.0",
              "id":691239,
              "start_date":"2015-12-09",
              "half_start":false,
              "half_start_am_pm":null,
              "end_date":"2015-12-09",
              "half_end":false,
              "half_end_am_pm":null,
              "cancelled":false,
              "notes":"",
              "type":"Holiday",
              "created_at":"2015-12-07T12:09:02+00:00",
              "updated_at":"2015-12-07T12:09:02+00:00"
            },
            {
              "employee":{
                "id":72402,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":72088,
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "leave_reason":null,
              "deducted":"1.0",
              "work_units"[...]
[...]
