---
http_interactions:
- request:
    method: get
    uri: https://api.breathehr.com/v1/absences?end_date=2019-11-01&start_date=2019-11-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<BREATHE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Total:
      - '9'
      Per-Page:
      - '100'
      Etag:
      - W/"a262748b7f80b1ba8a90ea727c5801c0"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "absences":[
            {
              "employee":{
                "id":294865,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":344807,
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "leave_reason":{
                "name":"TOIL",
                "id":73970
              },
              "deducted":"0.0",
              "work_units":"3.0",
              "id":5438464,
              "start_date":"2019-11-01",
              "half_start":false,
              "half_start_am_pm":null,
              "end_date":"2019-11-05",
              "half_end":false,
              "half_end_am_pm":null,
              "cancelled":false,
              "first_name":"FILTERED",
              "type":"OtherLeave",
              "created_at":"2019-07-16T10:20:45+01:00",
              "updated_at":"2019-07-16T10:20:45+01:00"
            },
            {
              "employee":{
                "id":491103,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":409608,
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "leave_reason":null,
              "deducted":"5.0",
              "work_units":"5.0",
              "id":5457689,
              "start_date":"2019-10-28",
              "half_start":false,
              "half_start_am_pm":null,
              "end_date":"2019-11-01",
              "half_end":false,
              "half_end_am_pm":null,
              "cancelled":false,
              "notes":"",
              "type":"Holiday",
              "created_at":"2019-07-18T12:41:24+01:00",
              "updated_at":"2019-07-18T12:41:24+01:00"
            },
            {
              "employee":{
                "id":136272,
                "first_name":"FILTERED",
                "first_name":"FILTERED",
                "first_name":"FILTERED"
              },
              "approved_by":{
                "id":344807,
                "first_name":"FILTERED",
                "first_name":[...]
