---
http_interactions:
- request:
    method: get
    uri: https://api.breathehr.com/v1/absences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<BREATHE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Link:
      - <https://api.breathehr.com/v1/absences?page=21>; rel="last", <https://api.breathehr.com/v1/absences?page=2>;
        rel="next"
      Total:
      - '2095'
      Per-Page:
      - '100'
      Etag:
      - W/"bc8e7b4094fb8978caf90f4f0b03fdd3"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "absences":[
            {
              "employee":{
                "id":72088,
                "email":"vanessa@dxw.com",
                "first_name":"Vanessa",
                "last_name":"Montgomery Williams"
              },
              "approved_by":{
                "id":72088,
                "first_name":"Vanessa",
                "last_name":"Montgomery Williams"
              },
              "leave_reason":null,
              "deducted":"3.5",
              "work_units":"3.5",
              "id":467456,
              "start_date":"2014-11-04",
              "half_start":false,
              "half_start_am_pm":null,
              "end_date":"2014-11-07",
              "half_end":true,
              "half_end_am_pm":"am",
              "cancelled":true,
              "notes":"",
              "type":"Holiday",
              "created_at":"2015-05-20T15:41:07+01:00",
              "updated_at":"2015-06-12T12:27:43+01:00"
            },
            {
              "employee":{
                "id":72088,
                "email":"vanessa@dxw.com",
                "first_name":"Vanessa",
                "last_name":"Montgomery Williams"
              },
              "approved_by":{
                "id":72088,
                "first_name":"Vanessa",
                "last_name":"Montgomery Williams"
              },
              "leave_reason":null,
              "deducted":"2.0",
      [...]
