name: Publish to rubygems

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
    - name: Setup Rubygems
      env:
        RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
      run: |
        bash .github/setup-rubygems.sh
    - name: Publish to Rubygems
      run: |
        gem build breathe.gemspec
        gem push "breathe-$(git describe --tags).gem"
